<head>
    <title>{% block title %}{{ page.title }} | garyhawes.co.uk{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.meta.description %}
    <meta name="description" content="{{ page.meta.description|e('html') }}">
    {% endif %}

    {% if page.meta.og %}
        {% include 'og' with { og: page.meta.og } %}
    {% endif %}

    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400,700|Roboto:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.url }}/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/monokai-sublime.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/garyhawes.min.css" />
    {% endblock %}
</head>
