{% if page.tags %}
    {% set postMeta = page.tags %}
{% else %}
    {% set postMeta = post.meta.tags %}
{% endif %}
<div class="post-meta">
    <div class="col-xs-6 col-sm-6 col-lg-8 posted">
        <time itemprop="datePublished" content="{{ (page.date) ? page.date|date('jS. F. Y') : post.date|date('jS. F. Y') }}" datetime="{{ (page.date) ? page.date|date('jS. M. Y') : post.date|date('jS. M. Y') }}">
            <span class="day">{{ (page.date) ? page.date|date('jS') : post.date|date('jS') }}</span>&nbsp;
            <span class="month">{{ (page.date) ? page.date|date('F') : post.date|date('F') }}</span>&nbsp;
            <span class="year">{{ (page.date) ? page.date|date('Y') : post.date|date('Y') }}</span>
        </time>
    </div>
    {% if postMeta %}
        <div class="col-xs-6 col-lg-4 tags text-right">
            <i class="fa fa-tags"></i>
            {% for tag in postMeta %}
                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
