---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts

---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.tag }}' tag feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}


{% block title %}{{ page.title }} "{{ page.tag }}"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="listing">
                <h2 class="heading first">Tag: {{ page.tag }}</h2>
                {% include "listing.twig" %}
            </div>

        </div>
    </div>
{% endblock content %}
