{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article class="col-lg-10 col-lg-offset-1">
        <div class="post-head text-col">
            <h1 class="title">{{ page.title }}</h1>
            {% include "post-meta.twig" %}
        </div>
        <hr/>
        <div class="post">
            {{ page.blocks.content|raw }}

            {% if page.previous_post or page.next_post %}
                <nav class="article">
                    <ul class="col-xs-12 col-sm-12 col-lg-12">
                        {% if page.previous_post %}
                            <li class="col-xs-6 col-sm-6 col-lg-6 text-right">
                                <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    <span class="title">{{ page.previous_post.title }}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page.next_post %}
                            <li class="col-xs-6 col-sm-6 col-lg-6 text-left">
                                <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                                    <span class="title">{{ page.next_post.title }}</span>
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </article>
{% endblock %}
